body {
  margin: 0;
  font-family: 'lato', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.96),
      rgba(67, 68, 131, 0.93)
    ),
    url('./assets/images/bg.jpg');
  height: 100%;
  color: #2e2e2e;
}
